[2019-04-02 00:04] juliemar opened #20 "Open external meeting when the user enter in a room"
Open an external meeting when the user enter in a room

[2019-04-02 00:06] juliemar opened #21 "On reload, keep user in the last room"
On reload, keep user in the last room

[2019-04-02 00:07] juliemar opened #22 "Implement socket.io tests"
Implement socket.io tests

[2019-04-02 00:08] juliemar opened #23 "Notification mechanics (user entered or left room, etc)"
Notify when an user enter in a room

[2019-04-02 00:08] juliemar opened #24 "Notify when an user go out in a room"
Notify when an user go out in a room

[2019-04-02 00:09] juliemar opened #25 "Implement a cool login page"
Implement a cool login page

[2019-04-02 15:07] #20 closed

[2019-04-03 14:15] raphaelln opened #29 "Add Bootstrap"
Add bootstrap library in project.

[2019-04-03 14:36] rfukui opened #31 "refatorar o codigo para js moderno"
para garantir mais pessoas contribuindo é bom que ele seja escrito da forma mais moderna

[2019-04-03 15:09] juliemar opened #32 "share room link to anothers users"
## Description
sometimes we need to share the room link to other users.

### Expected Behavior
- when I copy current room url and send to other user this second user should enter in the same room that I'm.

### Current Behavior
- today is not possible todo this.

### Possible Solution
Sugestion: add an anchor of roomId in URL:
EX:
localhost:8080/office#room-1
localhost:8080/office#room-3

[2019-04-03 15:09] sergioschuler opened #33 "Ability to change room name and designate a description"
## Description

Ability for someone to change a room name and add a description of what is being worked on on that room.

This will help people to join the correct rooms without the need of an external message, like Slack.

[2019-04-03 15:09] sergioschuler commented on #33
Por algum motivo não consigo colocar labels pra dizer que é enhancement.

[2019-04-03 15:16] lgiacomini92 opened #35 "Matrix is always asking the user to enter call when he enters a new room"
## Description
Matrix is always asking the user to enter call when he enters a new room, even though when the room does not have a call or when the room was empty.

### Steps to Reproduce
1. Open Matrix
1. Enter in a empty room

### Expected Behavior
- I should be asked if I want to create a new call

### Current Behavior
- I'm asked if I want to enter in the call
![image](https://user-images.gith

[2019-04-03 15:39] jeantoledo commented on #21
essa issue foi resolvida no PR #28

[2019-04-03 15:39] #21 closed

[2019-04-03 16:20] raphaelln commented on #29
resolved at: https://github.com/juliemar/matrix/pull/34

[2019-04-03 16:20] #29 closed

[2019-04-03 16:31] alesshh opened #39 "Desktop app"
Seria legal ter uma versão instalável, talvez usar o https://electronjs.org/

[2019-04-03 16:35] lgiacomini92 opened #40 "Create a logout option in main page"
## Description
Currently, Matrix does not have a logout option and its users cannot logout.

### Describe alternatives you've considered
- We need to create a logout option in main page.

[2019-04-03 16:49] lgiacomini92 opened #42 "Ability to create private rooms"
## Description
Currently, all the rooms are public. Users should be able to create private rooms and manage who can access these rooms

### Describe alternatives you've considered
1. The users should be able to create private rooms
2. The users can invite other users to the room
3. An uninvited user cannot access the private rooms

[2019-04-03 17:22] sergioschuler commented on #42
Qual que é a necessidade disso (caos de uso)? Será que não é melhor ter simplesmente uma forma de travar a entrada de pessoas (pedir autorização)?

[2019-04-03 18:01] diegocsandrim opened #46 "Be able to get an user into the current room"
## Description
As a matrix user I want to get a user into the room I am, so I can easily communicate with him.

## User case
I click with the rigth button in the person and choose the option "Get Paul".
Paul receives a notification saying that I want to talk to him.
Paul clicks in Ok button, and is redirected to the room

[2019-04-03 18:35] drgomesp commented on #23
https://github.com/juliemar/matrix/pull/48

[2019-04-03 20:05] fabianome commented on #25
![Matrix Login](https://user-images.githubusercontent.com/5340919/55509602-b82fba80-5632-11e9-8b8e-4fa1a7d5c4f3.png)

[2019-04-03 20:06] fabianome opened #52 "Implement a cool Rooms page"
Protótipo:
https://www.figma.com/proto/RGLv1bHeE58wO0qXGxAxv0h0/Matrix-Layouts?node-id=1%3A4&viewport=450%2C473%2C0.5&scaling=min-zoom

![Matrix Rooms](https://user-images.githubusercontent.com/5340919/55509571-a51cea80-5632-11e9-8fd7-67f9dc52b471.png)

[2019-04-03 20:23] lgiacomini92 commented on #42
Não fui claro na descrição. Também devia ter abrangido esse contexto. Alterei na descrição. @sergioschuler Acha que ficou muito abrangente?

[2019-04-03 21:39] antonio-muniz commented on #42
#53 criado com o objetivo de permitir fechar salas existentes. Optamos por manter a lista de salas sendo predefinida, mas adicionando suporte a fechar as salas temporariamente, bloqueando a entrada de outros usuários (exceto por invite)

[2019-04-04 00:54] #40 closed

[2019-04-04 12:11] sergioschuler commented on #42
@lgiacomini92 acho que sim! Só acho que o ponto 3 `An uninvited user cannot access the private rooms` poderia ser adicionado mais um ponto: `An uninvited user can request access to the private rooms`  e ao mesmo tempo `people in the private room can approve/deny join requests`

[2019-04-08 17:03] lgiacomini92 opened #61 "Logout is not working after user sign in"
## Description
Logout is not working when the user clicks on Logout button.
**OBS:** If the user reloads the page and clicks the Logout button a few times, the logout works

### Steps to Reproduce
1. Access Matrix login page
1. Sign in Matrix using a google account
1. Once you have redirected to the office page, click the Logout button in the navbar

### Expected Behavior
- Your account must be di

[2019-04-09 14:23] juliemar opened #64 "Create a logo"
Create a logo

[2019-04-09 19:01] felipecdo commented on #32
@juliemar this issue can be closed, right?

[2019-04-09 19:02] #23 closed

[2019-04-09 19:05] felipecdo opened #66 "I am available to talk room"
## Description
As a user, it would be great if there is a room which I can go and do not open a meeting.
This can be a Team Room or a I am available room

It is annoying everytime that I select a room, open a meeting, even when I am only available for call (not in a meeting)

[2019-04-09 19:26] juliemar commented on #32
Nop there is a bug... when the user is not logged. the login page not redirect to previous office url.

Sent from my iPhone

[2019-04-09 19:32] alesshh opened #67 "Identify if user is on a call"
It would be nice if the user status or avatar changes when it is in a call.

[2019-04-09 19:46] alesshh opened #68 "Create a "Deploy to Heroku" button"
Reference: https://devcenter.heroku.com/articles/heroku-button

It helps a lot if other people want to use.

[2019-04-10 16:33] #67 closed

[2019-04-10 19:42] lgiacomini92 opened #75 "Room's modal has default title"
## Description
Room's modal has default title `Modal title`.

### Steps to Reproduce
1. Enter the SBT room
1. Join the call

### Expected Behavior
- The modal title must be `SBT` (room name)

### Current Behavior
- The modal title is `Modal title`
![image](https://user-images.githubusercontent.com/6638683/55898901-f03a7e80-5b99-11e9-9b99-8e2e28cd6bda.png)

[2019-04-11 00:43] #75 closed

[2019-04-11 17:27] rtancman opened #77 "Salas no jitsi estão publicas"
O jitsi por padrão cria as salas publicas e por este motivo qualquer usuario pode ir na home e descobri o nome da sala que estamos utilizando no matrix. Ex:
![matrix-jitsi](https://user-images.githubusercontent.com/596684/55977732-e8481080-5c65-11e9-9ded-084847cde5fe.gif)

[2019-04-12 00:13] juliemar commented on #77
As salas são criadas via variável de ambiente. Fiz uma alteração para o id da sala ser um UUID. O que vc acha desta solução parcial?

[2019-04-12 01:03] juliemar opened #79 "Design and implement favicon.ico"
## Description
The favicon helps people to quickly identify the matrix in a multitab browser.

[2019-04-12 01:21] juliemar opened #80 "Pomodoro's time"
There is a concept to managing focus time called the [Pomodoro time](https://francescocirillo.com/pages/pomodoro-technique). This technique consists to dedicate a full focused time to do something. In a virtual environment is important to identify to other users that I'm in my Pomodoro time. so my suggestion Is:

I would like to start my Pomodoro time. In the matrix, I Start my Pomodoro time, my a

[2019-04-12 02:20] juliemar commented on #46
we can use [this](https://jsfiddle.net/KyleMit/X9tgY/) sample to implement the right click on user photo.

[2019-04-12 11:38] juliemar commented on #46
Branch: https://github.com/juliemar/matrix/tree/get-user

[2019-04-12 15:42] juliemar commented on #46
we delivered an experiment with the right click button to ask another person to join a meeting

[2019-04-15 19:38] lgiacomini92 commented on #52
Closed by #69

[2019-04-15 19:38] #52 closed

[2019-04-16 13:11] dvinciguerra opened #89 "Firefox home page issue"
## Description

This is a UX/UI issue that make side panel to not complete height screen 100%.

### Steps to Reproduce

UA:
`Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:67.0) Gecko/20100101 Firefox/67.0`

Browser:
`Firefox v67`

Address:
`https://secret-tundra-49376.herokuapp.com/`

### Expected Behavior
![image](https://user-images.githubusercontent.com/114177/56212086-b3ee9e80-602f-11e9-967a-c13b

[2019-04-16 14:18] lccezinha commented on #61
I'm gonna try to solve it!

[2019-04-16 17:12] dvinciguerra commented on #89
DONE

[2019-04-16 17:12] #89 closed

[2019-04-16 17:13] dvinciguerra commented on #80
+1

[2019-04-16 21:43] raphaelln commented on #66
closed by #83

[2019-04-16 21:43] raphaelln commented on #66
closed by #83

[2019-04-16 21:43] #66 closed

[2019-04-17 05:27] rjansen commented on #39
For linux we can use the [appimage](https://appimage.org/), what do you think about?

[2019-04-17 17:29] dvinciguerra commented on #31
+1

[2019-04-17 21:31] matheuslc commented on #79
Hi guys, I added the simplest version o favicon into this PR https://github.com/ResultadosDigitais/matrix/pull/96

[2019-04-18 12:19] #61 closed

[2019-04-18 17:03] lccezinha commented on #77
@juliemar @rtancman essa issue ainda é válida, ou foi fechada no #78 ?

[2019-04-18 17:42] fabianome commented on #33
Qualquer um poderia alterar o nome e descrição de qualquer sala?

[2019-04-18 18:15] fabianome opened #101 "[UI] Change avatar status"
![image](https://user-images.githubusercontent.com/5340919/56382053-db3e9a80-61ec-11e9-91f6-e063d80e6a05.png)

[2019-04-18 18:17] fabianome commented on #101
[headset.svg.zip](https://github.com/ResultadosDigitais/matrix/files/3095690/headset.svg.zip)

[2019-04-18 18:48] raphaelln commented on #35
@lgiacomini92 Could we close this issue ? I believe the `Lounge` room has this capability.

This implementation could be found at #83

[2019-04-19 22:01] sergioschuler commented on #33
Não vejo por que não.

[2019-04-20 16:03] alesshh commented on #79
Closed by https://github.com/ResultadosDigitais/matrix/pull/96

[2019-04-20 16:03] #79 closed

[2019-04-22 09:56] #101 closed

[2019-04-22 17:42] juliemar opened #105 "TypeError: Cannot read property 'getAuthInstance' of undefined HTMLButtonElement.<anonymous>(office.web)"
https://sentry.io/share/issue/bbeee478e6424a9fbc70a67c5b8c3062/

<!--- kind: bug , priority: medium

## Description
the sentry.io is reporting TypeErrorHTMLButtonElement.<anonymous>(office.web)

### Steps to Reproduce
access: https://sentry.io/share/issue/bbeee478e6424a9fbc70a67c5b8c3062/

[2019-04-22 17:53] juliemar opened #106 "TypeErrorMatrixProfile.prototype.userName(profile.web) JSON.parse(...) is null"
<!--- Do not forget to inform the issue's
kind: bug , priority: low

## Description
sentry.io is reporting this error:
TypeErrorMatrixProfile.prototype.userName(profile.web)
JSON.parse(...) is null

### Steps to Reproduce
access: https://sentry.io/share/issue/ee5642b25a8b4070a1f5f1801181f3a9/

[2019-04-22 17:54] juliemar commented on #106
more details here: https://sentry.io/share/issue/ee5642b25a8b4070a1f5f1801181f3a9/

[2019-04-24 00:23] lccezinha commented on #105
The code that is shown in the snippet does not seem to be updated :thinking: https://github.com/ResultadosDigitais/matrix/blob/f0db81f9759f03bd2adc56678f05858eb3121024/public/js/office.web.js#L19

[2019-04-25 00:54] #68 closed

[2019-04-25 03:08] juliemar commented on #77
opa podemos fechar ela, agora um externo precisa ter o uuid da sala para conseguir fazer o reportado neste chamado

[2019-04-25 03:11] #64 closed

[2019-04-25 03:11] #77 closed

[2019-04-25 03:12] #46 closed

[2019-04-25 03:12] #32 closed

[2019-04-25 11:54] lccezinha opened #113 "Add eslint to check code syntax"
Add eslint to check code syntax and make it more readable and following the same pattern.

[2019-04-26 00:09] lccezinha commented on #113
Does not make sense, it's already in package.json

[2019-04-26 00:09] #113 closed

[2019-04-28 16:15] luan0ap commented on #31
Seria interessante **pensar** na possibilidade de remover o JQuery do projeto também. O JS já nos permite fazer muita coisa sem a necessidade dele, o que acontece em seletores (o famoso seletor `$` pode ser escrito facilmente com `arrow function` ou `bind function`), chamadas ajax (com o `Fetch API`), etc.

[Existe um artigo no próprio github](https://github.com/nefe/You-Dont-Need-jQuery/blob/mast

[2019-04-29 19:39] lccezinha opened #119 "Better way to deal with strings"
## Description

We have some strings spread in the code, they're used to create the notification box that will be showed to the user.

I think we need a better approach to deal with these strings and avoid them in the middle of the code.

MAYBE something similar with Rails i18n.

[2019-04-30 12:32] jeantoledo commented on #35
Already fixed!

[2019-04-30 12:32] #35 closed

[2019-04-30 13:36] otherpirate commented on #39
Another suggestion is use Electron:
https://medium.freecodecamp.org/build-a-desktop-chat-app-with-react-electron-and-chatkit-744d168e6f2f

[2019-04-30 14:28] amandarover opened #121 "Youtube sharing video feature only works with who shares"
## Description
[code]
[code]
[code]

[2019-04-30 14:45] amandarover opened #123 "Does not close the call when clicked out of call modal"
## Description
[code]

### O que poderia acontecer
Bloquear esse comportamento para não sair da call sem querer quando clicar fora do modal

[2019-04-30 15:09] amandarover opened #124 "Play a sound when exit the call"
[code]

Caso eu não esteja vendo a aba do Matrix, não saberei quando alguém sair da call.
Para isso, eu precisaria voltar no Matrix e verificar se alguém saiu.
Mas podemos melhorar essa experiência adicionando um som ao entrar e sair da sala para que identifiquemos essas ações sem precisar voltar ao Matrix.

[2019-05-01 16:26] juliemar opened #131 "right click to get user in meet doesn't work"
## Description
When I want to get a user to my room and this user is in the meeting in another room the right click menu "Get" don't work.

### Steps to Reproduce
1. Stay logged with 2 users
2. enter in the room with user A and start a Meet
3. With user B in a different room try to execute right click on the User A avatar.

### Expected Behavior
- expected to appear the Get menu
![image](https://u

[2019-05-01 16:31] juliemar opened #132 "When the user is in meet "title" with the user name doesn't appear"
## Description
When the user is in meet "title" with the user name doesn't appear

### Steps to Reproduce

1. When the user is in meet stop mouse pointer on the user avatar

### Expected Behavior

- expected appear title or tooltip with the user name
![image](https://user-images.githubusercontent.com/643779/57028388-5a809500-6c15-11e9-8f4b-738337dc971f.png)

### Current Behavior

-  nothing happen

[2019-05-02 14:09] Seralto opened #135 "Firefox visualization issue"
Modal not showed properly in Firefox 66.0.3 (64-bit).
The height is small as one can see in the following pic:

![image](https://user-images.githubusercontent.com/6744006/57081087-68442200-6cca-11e9-9d36-2ab61269079f.png)

[2019-05-02 19:52] dvinciguerra commented on #135
+1

[2019-05-02 20:07] #123 closed

[2019-05-02 22:23] juliemar commented on #121
Hi @amandarover If I understand this issue will have to be open in https://github.com/jitsi/jitsi-meet

[2019-05-03 12:47] #132 closed

[2019-05-03 12:49] raphaelln opened #137 "Add Hability to Minimize the Modal Meeting View"
It would be nice if the modal view has capability to be minimized or resized.

When user is in the meeting he cannot see the rooms to see if a user is available to call him to enter in the meeting.

[2019-05-03 17:55] alesshh commented on #135
Closed by https://github.com/ResultadosDigitais/matrix/pull/138

[2019-05-03 17:55] #135 closed

[2019-05-03 18:45] matheuslc commented on #137
@raphaelln The ongoing meeting will be disconnected?

I think opening the meeting inside a modal is a UX Debt. Sometimes, during a meeting, it's easy to misclick outside the modal and this closes the modal and meeting unexpectedly.

Just 2cents

[2019-05-03 19:17] lccezinha commented on #137
@matheuslc this bug was fixed here #128

[2019-05-03 22:10] alesshh commented on #137
I like the idea to get someone to current call but minimize the modal maybe isn't possible.
it would be cool if it had a sidebar with active users during calls.

[2019-05-04 18:46] alesshh commented on #31
Comecei um PR que configura o webpack e instala as dependencias via npm.
https://github.com/ResultadosDigitais/matrix/pull/139
O próximo passo que vejo é remover jQuery, e talvez, evoluirmos p/ react, dado que temos algumas features que queremos como criação de salas, etc.

[2019-05-08 20:08] rossato-rd opened #141 "Login is not working when accessing matrix via HTTP (http://matrix.rdstation.com.br)"
I've matrix.rdstation.com.br

## Description

### Steps to Reproduce
1. Type matrix.rdstation.com.br in a browser address bar.
2. Click Sign In with Google
3. An error message will be displayed
![image](https://user-images.githubusercontent.com/15743831/57404982-b918b680-71b3-11e9-8dfe-a104c4104ca5.png)

### Possible Solution
- Always redirect traffic to use https instead of http.

[2019-05-08 21:55] juliemar opened #142 "enable HTTP protocol redirect"
## Description
When I'm using my environment in HTTPS on Heroku and user access via HTTP the user is not redirected from HTTP to HTTPS and the consequence is a google login error

### Steps to Reproduce
1. Deploy #matrix on Heroku
2. Configure Google login for HTTPs Heroku URI
3. access #matrix in HTTP
4. try to login

### Expected Behavior
- expected behavior redirect #matrix URI to Https

### Cu

[2019-05-08 22:03] juliemar opened #143 "Add Hability to define trusted login domains"
## Description
I'd like to close my office to enable only users with a trusted e-mail to enter my office.

### Describe alternatives you've considered
in MVP mode we can use an environment variable with the list of trusted e-mail domains.

[2019-05-09 14:10] alesshh commented on #131
@juliemar fixed?

[2019-05-09 16:18] juliemar commented on #131
Yes, I believe the PR with webpack we Fixed this issue...

[2019-05-09 16:18] #131 closed

[2019-05-09 17:37] fabianome opened #145 "New favicon"
Alterar o favicon atual (ta parecendo um botão de erro ou fechar :/ ).

[2019-05-09 17:37] fabianome commented on #145
[favicon_io.zip](https://github.com/ResultadosDigitais/matrix/files/3163311/favicon_io.zip)

[2019-05-09 17:42] fabianome commented on #145
Referência:
![image](https://user-images.githubusercontent.com/5340919/57474493-8ed50080-7268-11e9-9e96-0fdeca85b4b0.png)

Obs: Não esquecer de utilizar todas as versões do zip pra pegar também usuários retina.

[2019-05-09 20:52] juliemar commented on #77
This PR https://github.com/ResultadosDigitais/matrix/pull/148 concatenate host in the room id to prevent this situation. but for really solve we have to enable the client to define the hosted jitisi url.

[2019-05-10 19:27] #145 closed

[2019-05-10 19:51] jorgemdnt commented on #31
@alesshh Acho que essa issue está um pouco abstrata, o que acham de quebrarmos essa issue em menores mais práticas? Ex.:
1. Limpar erros do linter;
2. Remover o jquery;
3. Usar es6 em todos os arquivos JS;
4. Evoluir front-end para React (?)

[2019-05-10 21:05] alesshh commented on #31
@jorgemdnt total sentido

[2019-05-13 15:01] enieber opened #155 "configuration ROOMS_DATA in heroku"
This project is very nice and I go start test, but I don't how to set default rooms data environment, because in Setup is only in JSON/JS format

[2019-05-13 16:21] juliemar commented on #142
Fixed here: https://github.com/ResultadosDigitais/matrix/pull/154

[2019-05-13 16:21] juliemar commented on #142
Fixed here: #154

[2019-05-13 16:21] #142 closed

[2019-05-13 16:30] juliemar commented on #155
Hi @enieber I didn't understand your question. but I'll try to help you :)

in [This](https://github.com/ResultadosDigitais/matrix/blob/master/SETUP.md) documentation we have an exemple:
![image](https://user-images.githubusercontent.com/643779/57637753-8f300d00-7582-11e9-97f1-33aa2dc0eeeb.png)

In heroku go to settings and click in Reveal config Vars:
![image](https://user-images.githubuserconten

[2019-05-13 16:32] juliemar commented on #155
I'm checking the setup documentation and `ROOMS_SOURCE = ENVIRONMENT` is not documented. @enieber Could you document this and open a PR for us?

[2019-05-13 18:33] dvinciguerra commented on #39
+1

[2019-05-14 13:42] juliemar opened #157 "Zoom in and Zoom out in office"
## Description
Today we have more than 30 rooms and is so difficult to have a complete office view scrolling the office.

### Describe alternatives you've considered

We can implement an ability to do a zoom in and zoom out in the office to enable the user to see all rooms without scroll.

### Suggestion

Maybe we can considerer this lib:
https://github.com/pbakaus/scroller
Demo: http://zynga.gith

[2019-05-15 13:22] alesshh commented on #157
I like the idea to reduce the zoom office, but the suggested scroller tool has an issue that I didn't like, that is the ability to use the browser scroll (that tool uses click + drag to scroll over office apparently).

Maybe an alternative is reduce the room size / space between, as datadog implemented in the charts.
<img width="312" alt="Screen Shot 2019-05-15 at 10 13 38" src="https://user-image

[2019-05-15 17:47] #155 closed

[2019-05-17 14:21] felipecdo opened #158 "Reserved Meeting Room"
As a user, I would like to have a reserved meeting room and add it to Invitation in my Google Calendar

## Description
Currently, Matrix does not allow any reserved room.
If I am planning a meeting and I would like to send a Calendar Invitation I can't ensure that current rooms will be available for meeting at desired date and time, making it hard to send a matrix URL.

Suggested approaches:

###

[2019-05-17 14:26] juliemar commented on #158
I liked **Unique Temporary Rooms** because if we enable room reservation we are transporting the physical problem with limited rooms to a virtual environment. But temporary rooms make sense because in this case, we can have unlimited schedules and rooms.

[2019-05-26 13:50] ROPIMASI commented on #42
Olá boa tarde DEVs... Com licensa, estou "caindo de paraquedas" no projeto agora, mas, o pouco que li sobre ele "matrix" me fez entender que uma das missões/objetivos dele é agilizar e clarear a comunicação da equipe, compartilhando informação de forma organizada e consistente.

Fiquei  intrigado com essa  ISSUE "Ability to create private rooms" , me parece que vai contra o objetivo do projeto,  e

[2019-06-21 21:53] megatroom commented on #31
Gostaria de contribuir para essa migração para o React, mas acho válido discutir alguns pontos antes para evitar retrabalho:

1. Ao escrever o código novo, já iria atendendo as regras do linter. Porém, as regras do linter está a mesma para o backend e frontend, acho válido separar as regras para melhor resultado.
2. Acho ótimo o [monorepo](https://en.wikipedia.org/wiki/Monorepo), mas não seria mel

[2019-06-22 03:22] megatroom commented on #157
Instead of working with zoom, which would make it very difficult to use on the mobile, what do you think about having an option to reduce the contents of each room with only the essential information?

The card (the room) could stay by default like this:
![card-closed](https://user-images.githubusercontent.com/673904/59958799-af58c300-9482-11e9-8446-b6aa28975ec3.png)
And by expanding it would look

[2019-06-22 03:25] megatroom commented on #22
Tests implemented in PR #168

[2019-06-24 13:02] alesshh commented on #31
@megatroom eu comecei a reescrever algumas coisas de maneira baby steps. Comecei pela de login e estava iniciando a página do office. Ainda está sem testes nessa camada, mas penso que o caminho seja jest e talvez o https://airbnb.io/enzyme/.

Não usei o CRA, apenas configurei o webpack (hoje é usado só p/ frontend), com CSS modules, quebrando alguns arquivos, e penso que a ideia é seguir de maneir

[2019-06-24 14:42] megatroom commented on #31
@alesshh gostei da idea do roadmap, fica até mais fácil distribuir as tarefas.

Sobre o teste, poderia ser o Jest com o [React Testing Library](https://testing-library.com/docs/react-testing-library/intro), ele faz o mesmo que o Enzyme, mas ele é muito mais simples e robusto.

Também acho uma boa fazer teste de integração, o [Cypress](https://www.cypress.io/) é uma boa opção para isso, eu falo del

[2019-06-24 15:16] alesshh commented on #31
Poxa, não sabia que o yarn tinha essa feature <3, parece ser um bom candidato, já que é algo mais comum de se ver por aí.
Vou tentar quebrar umas tarefas e organizarmos p/ termos ideia do que precisa ser feito. 🚀

[2019-06-28 16:08] alesshh commented on #22
Fixed at #168

[2019-06-28 16:08] #22 closed

[2019-07-01 02:01] megatroom commented on #157
Based on the idea I gave above, I created a new layout with a new card:

![card-closed](https://user-images.githubusercontent.com/673904/60406024-292b3380-9b8a-11e9-84a6-fba833095a06.png)

The card limits to 3 users and displays an avatar with the remaining user number. But if you click the card, it expands:

![card-opened](https://user-images.githubusercontent.com/673904/60406058-6394d080-9b8a-11

[2019-09-15 16:53] magnocosta commented on #143
@juliemar,

Existe alguma motivação para que não tenha um banco de dados onde podemos colocar todas as configurações?

Vejo que essa feature é bem legal, faz sentido no meu ambiente e olhando a maneira como as configurações são realizadas (via env's) não me parece e melhor modelo. Entendo que no MVP isso faz sentido, mas acho que já vale adicionar um bd.

Se achar que faz sentido, veja a minha pro

[2019-09-18 14:02] alesshh opened #181 "Dark mode"
Slack launches dark mode and Material supports dark mode. https://material-ui.com/customization/palette/#type-light-dark-theme
It hould be nice to have dark mode at matrix.
Dark mode everywhere!

[2019-10-03 11:42] angeliski commented on #143
Hey @juliemar Que acha de seguirmos com isso? Você tem alguma sugestão de banco de dados?

[2019-10-04 12:59] kaiofelipejs commented on #24
This is the default behavior in the jitsi. He notifies when someone disconnected.
![image](https://user-images.githubusercontent.com/41922744/66209191-35dd8d00-e68d-11e9-85c2-9bbbea64f5cc.png)

This is an issue?

[2019-10-04 20:19] kaiofelipejs commented on #137
I believe that this issue is solved in the new layout ([Morpheus](https://github.com/ResultadosDigitais/matrix/pull/174)), right?

Make sense this issue stays open?

[2019-10-23 19:28] bcarmo-geru opened #187 "Insert Google oauth url callback in README.md"
Insert Google oauth url callback in README.md

## Description
Guys, could you please add what is the Google oauth url callback in README.md? I'm trying to deploy Matrix but I cannot find this information.

Thanks in advance!

[2019-10-24 16:27] lccezinha commented on #187
Hello @bcarmo-geru

Have you tried to check the information in https://github.com/ResultadosDigitais/matrix#environments or https://developers.google.com/identity/sign-in/web/sign-in?

You need to create your own credentials to be used in the google login.

[2019-12-04 12:39] megatroom opened #190 "Authentication error for already logged in user"
It's not showing my user avatar in room and my login in app bar.

## Description

When I enter the Matrix, my profile picture and my login it's not showing:

![matrix-bug](https://user-images.githubusercontent.com/673904/70142331-c0d00900-1677-11ea-9618-063dfec1a2f9.png)

I'm already logged in, 'cause when I enter in login I'm redirected to morpheus page like the printscreen above.

My local stora

[2019-12-04 16:57] megatroom opened #191 "Change default route to root path"
Add related routes without `/morpheus` prefix.

## Description

The `/morpheus` prefix was added temporary to keep legacy until it was approved. As Morpheus became the default layout, we lost the main routes.

We can keep the prefix to avoid broken links, we can redirect to respectively root route. This will avoid to save the wrong routes and we can remove then in the feature.

The routes will be:

[2019-12-04 23:25] magnocosta commented on #143
Bom vou tocar um PR disso @angeliski, se vc tiver interesse vamos nos falamos e tocamos juntos

[2019-12-05 12:46] gabrielbaldao commented on #191
Can i try do this?

[2019-12-05 14:20] megatroom commented on #191
Yes, you do!

I'm only worried about the redirect, maybe we can keep both urls for now.
What do you think?

Assign the issue to yourself to prevent someone else from taking it.

Bruno Nardini
Resultado Digitais
bruno.nardini@resultadosdigitais.com.br
http://www.resultadosdigitais.com.br

Crie a sua própria assinatura
<https://ferramentas.resultadosdigitais.com.br/assinatura-de-email>

Em qui., 5 d

[2019-12-05 19:27] #190 closed

[2019-12-11 12:10] #181 closed

[2019-12-18 13:19] magnocosta commented on #143
Pessoal,

Só para deixar registrado, cai nesse mesmo problema aqui ao instalar a Matrix para o meu time. Inicialmente subimos a aplicação por trás da nossa VPN porém, por vários problemas na nossa VPN, a conexão está ruim e instável.

Decidimos então liberar na internet, sem precisar do uso da VPN, o problema com isso é que qualquer pessoa com Gmail pode logar na Matrix.

Vou trabalhar nessa featu

[2019-12-19 14:34] magnocosta opened #195 "Bug ao usar a câmera do Macbook"
## Description
Pessoal, em todas as salas que entramos com o Macbook a tela do Jitsu fica cortada. Nos outros dispositivos que testamos isso não acontece.

Alguns testes já realizados realizados:
- Se acessar o Jitsu por fora da Matrix tudo funciona normalmente.
- Se entrar na sala na Matrix, pegar o link da sala e logar por fora da Matrix tudo funciona normalmente.

### Steps to Reproduce
1. Aces

[2019-12-19 14:37] magnocosta commented on #195
Segue um exemplo de como a imagem fica quando usamos um Macbook.

![Captura de tela 2019-12-19 11 36 11](https://user-images.githubusercontent.com/1686530/71181898-d33f6a80-2253-11ea-94da-359247ae4f5e.png)

[2019-12-19 14:39] magnocosta commented on #195
Eu li no guidelines de issues que preciso informar as tags, porém eu não conseguo fazer isso, acredito que seja permissão aqui mo Github.

Acho que faz sentido remover isso do guidelines ou se for o caso liberar esse acesso.

\o/ \o/ \o/

[2020-01-01 01:20] angeliski commented on #143
Manda bala @magnocosta eu comecei a ver isso, mas acabei enrolado. Um dos problemas que eu vi na época é que o login é todo feito no front, talvez tenha que mudar isso, não sei... Ou então validar o token a cada requisição seja uma alternativa

[2020-02-09 23:14] #195 closed

[2020-02-09 23:16] magnocosta commented on #195
Esse problema foi resolvido com o merge do PR #194. Testei a ultima e a camera está funcionando perfeitamente.

[2020-03-16 16:58] dherik opened #198 ""Cannot find module" error on docker-compose"
Hi!

I'm receiving the follow error when trying to start the matrix:

[code]

### Steps to Reproduce

I changed the `docker-compose.yml` file to add the environments variables, like:

[code]

I'm trying to start the matrix using docker-compose:

    docker-compose up

This error not changed with the environment variables setted or not.

I also added a `RUN` command to see what is inside the `/var/

[2020-03-16 18:20] juliemar commented on #198
hi,
Thanks for the report. I just fixed this issue in this PR https://github.com/ResultadosDigitais/matrix/pull/199/files Could you try again using the PR branch?

[2020-03-16 19:00] dherik commented on #198
Hi @juliemar , thank you for the quick answer. Sadly, I receive exactly same using the branch `fix-Dockerfile`.

A friend was able to start removing the `volumes` section and I can confirm that adjust work, but partially. If I add the `environment` section, the app seems to start but he uses a weird ip.

For example, without the `environment` and `volumes`, the log is:

[code]

With `environment`

[2020-03-16 21:13] ramnasidharta commented on #198
I'm very interested in trying Matrix and maybe suggest it to our team here, although I'm still with the same problem.

[2020-03-16 21:27] juliemar commented on #198
@ramnasidharta in the file `docker-compose.yml` remove the instruction `volumes`. Your file needs to be like this.

[code]

After changing the file you need to run `docker build .` and after `docker-compose up`.

Please let me know if this instruction worked for you.

If yes I'm considering create 2 files one for development and another for the tests.

[2020-03-17 15:00] juliemar commented on #198
Hi @ramnasidharta my suggestion worked for you?

[2020-03-17 19:07] megatroom commented on #143
Ótimas sugestões @magnocosta :muscle: :rocket:

Isso poderia ser configurável e agnóstico, assim a empresa poderia usar o banco de dados que quiser, como poderia não usar banco nenhum caso prefira e continuar usando arquivo estático.

Localmente podemos usar o SQLite para deixar o ambiente de desenvolvimento leve, e deixamos já configurado no docker. O que acha?

Isso poderia ficar para uma próxim

[2020-03-17 19:30] alesshh opened #208 "Add hability to add many "floors""
The main idea is allow to add many floors that can have many rooms, on a single installation, ex:

- Financial
- Customer success
- Engineering

[2020-03-18 00:17] ramnasidharta commented on #198
Hey, @juliemar! It worked, thank you. I just had some more time trying to get the right configuration for the "Sign in with Google" button appear. On Heroku it was easier.

[2020-03-18 10:53] iurisilvio commented on #198
I removed volumes from docker-compose file and it worked.

[2020-03-18 14:08] henrylle commented on #198
This problem was resolved on master. Try pull master again. Fix commit:
`https://github.com/ResultadosDigitais/matrix/commit/2c3c9d3603e656c3edecfc8986f1229cb4026a08#diff-4e5e90c6228fd48698d074241c2ba760`

[2020-03-18 17:00] dherik commented on #198
@ramnasidharta how is your `env` file? The Sign In button redirect to the same page for me.

[2020-03-18 17:31] dherik commented on #198
@juliemar I could make work here! But there are some details to make it work:

 - On localhost, you can't use `ENFORCE_SSL=true`
 - You need to use the `Matrix` name as **OAuth 2.0 Client ID** on Google credential

[2020-03-18 17:32] #198 closed

[2020-03-19 00:22] dherik commented on #143
Hello!

Do you have some update about the development of this feature? Do you know if someone already started the development?

[2020-03-19 15:27] diogonicoleti commented on #208
It's a nice feature to have! 😄 If we define how it could work I can develop it.

[2020-03-19 16:59] rafaheringer commented on #158
Acho que este assunto é exatamente o mesmo da issue #42 não? Podia dar um merge.

E é um ponto crucial, poder fechar uma sala para impedir acessos indevidos. Especialmente porque as salas podem ser usadas para 1:1, por exemplo.

[2020-03-19 21:50] megatroom commented on #143
@dherik now we release version 2.0.0 with new authentication, see [this migration guide](https://github.com/ResultadosDigitais/matrix/blob/master/docs/MIGRATION-TO-V2.md).

It was included in PR #213

With that we can even close this issue.

[2020-03-19 21:50] #143 closed

[2020-03-20 13:54] toedio opened #222 "When click "invite user to a meet" and have a externalMeetURL, matrix open "JitsiMeet""
## Description
I use matrix in my company and all rooms have external meet url (meet.google.com). When we click in "Invite user to a meet", user confirm and enter in a Jitsi Meet.

Always when a user accepct invitation have a console log that show externalMeetURL variable value. App is logging correctly the external meet url but open a jitsi meet

### Steps to Reproduce
1. Enter a room that have e

[2020-03-20 14:07] rdgomiguel opened #223 "Add ability to have cool offices map"
Sococo has an interesting way to represent the virtual office:

![image](https://user-images.githubusercontent.com/1731564/77170353-b1939080-6a99-11ea-83fc-6dd6022d0d39.png)

Sococo allows you to choose between different office representations. For example:
![image](https://user-images.githubusercontent.com/1731564/77170668-223aad00-6a9a-11ea-8a03-8535f431675b.png)
![image](https://user-images.git

[2020-03-20 15:01] toedio opened #224 "Open jitsi meet in new tab"
Its cool open jitsi meet in a new tab. That way, we can have visibility of the matrix even in a meeting

[2020-03-20 15:13] juliemar commented on #224
Good Idea. What do you think about to implement a `ctrl+click` to open in a new tab?

[2020-03-20 15:15] juliemar commented on #222
Thanks for open this issue. Could you try to fix and open a PR?

[2020-03-20 15:19] juliemar commented on #31
I'm closing this issue because now we have react.js

[2020-03-20 15:19] #31 closed

[2020-03-20 15:28] juliemar opened #225 "Remove unused Files"
## Description
This [PR](https://github.com/ResultadosDigitais/matrix/pull/174) created a new **#matrix** layout and our strategy at that moment was to maintain both layouts like A/B test. Now the Morpheus is the main #matrix layout. and we have a lot of unused files in the project. Is so hard for beginners find the correct file to work.

### Possible Solution
Remove all unused files related to a

[2020-03-20 15:30] kaiofelipejs commented on #223
[Remo.co](https://remo.co/) is good reference too.

[2020-03-20 16:56] toedio commented on #222
Of course. I will try to do this at the weekend

[2020-03-20 20:02] sidneydemoraes opened #226 "Deployment of custom rooms to Heroku"
## Description
The Heroku button is great for a very quick PoC that shows us briefly what #Matrix can do but now I wanna make deepers tests with it.
I tried deploying manually (with Heroku CLI) by following the `variables.env` file instructions and I just can't make it work with Heroku deploys. Neither `docker build` nor `heroku container:push` allow us to use the env_file at build. I tried editin

[2020-03-20 20:36] sidneydemoraes opened #227 "Função GET indisponível"
## Description
Ao clicar com o botão direito sobre a imagem de alguém, a função GET não funciona. O que acontece é a botão direito do Chrome.

### Steps to Reproduce

1.
![image](https://user-images.githubusercontent.com/696278/77204118-d48d6700-6ad0-11ea-931e-3f1160e73b06.png)
2.
![image](https://user-images.githubusercontent.com/696278/77204317-3cdc4880-6ad1-11ea-955d-69bcccdcb934.png)

### Expe

[2020-03-21 16:55] adrianovieira opened #229 "Add ability to authenticate against AD/LDAP"
Although google authorization is a great feature not all enterprises can use it to grant user authorization for must of their services.

Furthermore, some companies uses AD/LDAP as the service for users and services authentication and authorization.

So, it can be great to have a feature to setup matrix to use AD/LDAP service.

## Description

From Wikipedia ([AD](https://en.wikipedia.org/wiki/Act

[2020-03-21 17:39] adrianovieira opened #230 "Administration interface"
There are times that to have a MVP or for proof a concept it can be usefull to fast developing and have environment variables which app can use.

But as the application becomes great and can be dificult to manage and operates those environment variables.

So, could be good if matrix have an interface to manage all or many of that variables to setup itself or even better, to manage rooms, users, me

[2020-03-21 18:59] bgbraga opened #231 "WebSocket handshake: Unexpected response code: 400"
## Description
Browser / Javascript Console Error:
morpheus-526f73e90268c8a4ff10.js:54 WebSocket connection to 'wss://matrix...........&transport=websocket&sid=....... failed: Error during WebSocket handshake: Unexpected response code: 400

### Steps to Reproduce
1. Deploy matrix to GCP Cloud Run
2. Use matrix
3. See Browser Console Log

### Possible Solution
- I this it is happening because webso

[2020-03-21 21:47] juliemar commented on #231
Hi, @bgbraga thanks for this report.

In our production environment, we are running in GCP using Kubernetes and we don't have this error. But I just deployed using a 'Google Cloud Button' in the `README.md` file in the `us-central1` region and in the console I can see the same error.

`
failed: Error during WebSocket handshake: Unexpected response code: 400
`

But I notice the `socket.io` change t

[2020-03-21 21:54] juliemar commented on #229
I believe the best way to support other kinds of authentication we have to change/decouple the current authentication way to an authentication plugin way.

in this way, anyone can create an authentication plugin to support all kind of authentications:

- Google
- AD/LDAP
- SAML
- Twitter
- Facebook
- Linkedin
- OpenId

Etc..

[2020-03-21 22:01] juliemar commented on #226
Hi, @sidneydemoraes Thanks for all the explanations.

Could you try to follow [this Heroku Documentation](https://devcenter.heroku.com/articles/heroku-local#set-up-your-local-environment-variables). If Works feel free to Open a PR improving our documentation about this issue.

[2020-03-21 22:15] brunobraga-hotmart commented on #231
I can't invite someone to meeting room. I don't know if it is related with WebSocket.

At this medium post ( that now I'm seeing that you as the author ;) ) I see some options like GET menu that is not appearing to me.
https://medium.com/rd-shipit/matrix-d4cfc4ad4c75

Do you suggest me to forgot "Google Cloud Button" for a while and deploy using GKE?
Are you using GKE standard or Cloud Run for GKE

[2020-03-21 22:15] bgbraga commented on #231
I can't invite someone to meeting room. I don't know if it is related with WebSocket.

At this medium post ( that now I'm seeing that you as the author ;) ) I see some options like GET menu that is not appearing to me.
https://medium.com/rd-shipit/matrix-d4cfc4ad4c75

Do you suggest me to forgot "Google Cloud Button" for a while and deploy using GKE?
Are you using GKE standard or Cloud Run for GKE

[2020-03-21 22:43] juliemar commented on #231
This function is not supported in the Morpheus layout  there is an [issue](https://github.com/ResultadosDigitais/matrix/issues/227) reporting this problem :)

You can continue using the "Google Cloud Button" for deploy in Google Cloud Run.

In the Resultados Digitais, we are using GKE and te pipeline deploy we created on [Spinnaker](www.spinnaker.io)

[2020-03-21 23:07] bgbraga commented on #227
This is related with Morpheus layout, right?
Is there a way to back to previous layout where it works?

Morpheus is a theme that I could change using a environment variable or it is an implementation that I have to use an old code revision?

[2020-03-21 23:08] bgbraga commented on #231
Ok. I comment there to see if there a way to use the previous layout instead of Morpheus. Thanks

[2020-03-22 00:25] juliemar commented on #227
Hi @bgbraga, unfortunately, the legacy layout now is so outdated and we are removing all related files in this PR: https://github.com/ResultadosDigitais/matrix/pull/232

## Workaround Solution
When you are in the [jitsi meeting room](https://github.com/ResultadosDigitais/matrix#the-meeting-room) on the sidebar is possible to invite someone. this action will notify the invited person to go to your

[2020-03-22 00:33] juliemar opened #233 "the new #matrix logo"
# Description
The current matrix logo needs to be changed to the correct "brand". We decided to call from **Matrix** to **#matrix** and the current logo doesn't represent this.

### Current Behavior
![image](https://user-images.githubusercontent.com/643779/77239605-5eb1fa00-6bbb-11ea-93ae-8048e172d85a.png)

### Possible Solution
In this issue, you can upload some logo proposals and after we will o

[2020-03-22 00:39] juliemar commented on #224
Could you open a PR with this improvement? We are so happy with your help :)

[2020-03-22 00:40] bgbraga commented on #227
Studying the code, if I change the window href at login.js I could move from morpheus to office (that is the legacy layout).

PR 232 is not merged yet, so it will works I think...

`  goToOffice() {
    window.location.href = "./morpheus";
  }`

I don't know yet if morpheus is not working due a bug or if it was not implemented in morpheus.
I have to study the code better to understand. If you have

[2020-03-22 02:39] juliemar commented on #137
The new layout Morpheus fixed this issue

[2020-03-22 02:39] #137 closed

[2020-03-22 02:40] juliemar commented on #105
Is not to reproduce this issue

[2020-03-22 02:40] #105 closed

[2020-03-22 02:43] juliemar commented on #158
Hi @rafaheringer you are right. I will merge it.

[2020-03-22 02:49] juliemar commented on #42
Hi @ROPIMASI you are right, but I think the issue: 158 have a good approach. About scheduling a private or public meet and this kind of meet create a temporary room in the main map.

[2020-03-22 13:12] bgbraga opened #234 "Headset used to mark the person is in meeting is not visible outside the meeting"
## Description
The purpose of images/headset.svg is to show that some person is already in a meeting.
But it is not visible outside the meeting in Morpheus. At legacy office layout it works fine.

### Steps to Reproduce
1. Join a meeting
2. See you profile photo inside the meeting (it is ok)
![headphone](https://user-images.githubusercontent.com/4409701/77250258-7de57180-6c25-11ea-9119-cae1c0bef24

[2020-03-22 15:22] alesshh commented on #230
Hey @adrianovieira
We are thinking and working about the possibility to manage #matrix rooms on a separate backoffice. There are some refactors on the current project, but the main idea is kept it simple, but composable.
Who wants to install it, does not requires necessarily a backend (with a database) for example.
We will work with it in mind. Makes sense?

[2020-03-22 15:25] alesshh commented on #229
I'm working on this PR https://github.com/ResultadosDigitais/matrix/pull/235 to improve routes security.
After that, the [passport.js](http://www.passportjs.org/) authentication strategy allow us to implement different auth strategies.

[2020-03-23 13:03] #225 closed

[2020-03-23 21:28] dherik commented on #143
This is working? It's not working for me. I could login with my personal google account using `WHITELIST_DOMAINS` variable setted.

[2020-03-23 21:36] dherik opened #254 "GOOGLE_CREDENTIAL variable is still mandatory"
Hi!

I'm using the last version on master and the `GOOGLE_CREDENTIAL` is still mandatory. Without this variable, the Google sign-in button not appears for me.

My current environment variables:

[code]

[2020-03-23 21:40] dherik opened #255 "Whitelist domains not working"
Hi!

I saw the new features in the last version, but the `WHITELIST_DOMAINS` variable it's not working for me.

Even setting the variable with the allowable domains, I can sign-in on the Matrix using my Google personal account.

My current variables are:

[code]

[2020-03-24 00:03] juliemar commented on #255
Hi @dherik could you confirm if you are running the latest #matrix version? It is not necessary for the  `GOOGLE_CREDENTIAL` variable. You can remove It.

Try to update `git pull` and `docker-compose up --build`

[2020-03-24 00:07] juliemar commented on #254
Hi @dherik,

Probably your Docker image is outdated. Try to update the repository and rebuild your Docker image
1. `git checkout master`
2. `git pull origin master`
3. `docker-compose up --build`

[2020-03-24 00:33] dherik commented on #254
Man, I forgot the `build`. Shame on me, I will close the two last issues and try again tomorrow

[2020-03-24 00:33] #254 closed

[2020-03-24 00:33] dherik commented on #255
Man, I forgot the `build`. Shame on me, I will close the two last issues and try again tomorrow

[2020-03-24 00:33] #255 closed

[2020-03-24 12:50] WesleyRocha opened #261 "User Experience Improvement for employee groups."
Ainda vou descrever melhor o que pretendemos fazer aqui.

* Se souber de alguma outra issue que está relacionada a esses problemas, associe a essa issue.

1 - Como podemos ter várias representações da estrutura de uma empresa dentro da Matrix sem a necessidade de ter várias instalações?
2 - Como podemos ajudar as pessoas a se localizarem dentro das instancias da empresa de forma a não se perder do

[2020-03-24 14:54] Jarzamendia commented on #42
Criar uma sala privada pode ser uma boa solução para criar reuniões que não serão abertas para toda a empresa ou salas apenas para lideres de equipe e gestores.

[2020-03-25 02:03] angeliski commented on #143
Hey @dherik
Can you provide a gif for that? And your environment variables?
The feature works nicely here

[2020-03-25 12:50] dherik commented on #143
@angeliski it's working. I forgot to `build` the docker-compose again :)

[2020-03-25 19:43] pcontezini opened #269 "ROOMS single line environment variable is tuff to use when you have too many rooms."
Hi there.

We are using Matrix massively and managing the rooms on the single line environment variable sucks.

I've built a little workaround to get the json from a multi line file and convert it to a single line file using underscore.

I've read in the source code that you do support loading it from a file but was not sure it was working because it was not included in the manual.

Here you can f

[2020-03-25 21:02] marioaugustorama opened #270 "Matrix not reading ROOMS_DATA from env file."
I Try to custom rooms on my docker install, but, nodeJS not read ROOMS_DATA and use default values from source code.

[2020-03-25 21:26] juliemar commented on #270
Hi @marioaugustorama,

Are you following [this](https://github.com/ResultadosDigitais/matrix#docker-compose) steps?

Did you try to run `docker-compose up --build` ?

[2020-03-26 16:24] megatroom commented on #233
We also used this image as a Matrix icon, which would also be interesting to change together:

![android-chrome-192x192](https://user-images.githubusercontent.com/673904/77670482-084f0d80-6f65-11ea-852b-e65095070607.png)

[2020-03-26 19:25] Verhaeg commented on #269
It works having a file mapped, the file location is `/var/app/file/matrix.room.web.json`
I found that mapping to that location is way better than handling a large inline json with multi escape levels.

Beware that in this case you can't provide the `ROOMS_SOURCE` environment!

Using mapped files is easier to handle as well for Kubernetes ;)

[2020-03-26 21:02] juliemar commented on #269
@Verhaeg could you open a PR with an installation tutorial for Kubernetes?

[2020-03-26 21:34] Verhaeg commented on #269
Sure! Will check the README schema and see how to better provide that information!

[2020-03-27 14:27] esbrito opened #276 "Return to default Room after a Meeting"
To prevent people for after a meeting to keep occupying a room without actually using it, it would be nice if after ending a meeting Matrix asked if the person wants to go back to its default room.

## Description
When a person hangs-up from a meeting a "Pop-up" should appear asking the person if it wants to go back to its default room (this being a new concept in Matrix).

My suggestion is that t

[2020-03-27 19:12] Jarzamendia opened #277 "Enhance how meeting backends are defined."
Enhance how meeting backends are defined, making possible to alternate the embed meeting solution.

With this, in scenarios where we have our solutions hosted locally or we use services in the cloud, we can use Matrix as a friendly frontend.

## Description

- Make the Default Meeting Backend by a ENV Variable or config file.
- Create a way to change the dependencies of the meeting backend (to alt

[2020-03-29 18:37] alesshh commented on #270
Hey @marioaugustorama , can you check if you define the  environment`ROOMS_SOURCE` as `ENVIRONMENT` ?

[2020-03-31 22:36] lucaswolfgramm commented on #208
Separar por raias ou grupos poderia solucionar.
![image](https://user-images.githubusercontent.com/19143001/78081005-d800d800-7385-11ea-8f12-37bc3790bf5b.png)

Na variável ROOMS_DATA, ao informar os dados da sala e utilizar o parâmetro "grupo": "Grupo 1", a sala será criada dentro desta raia/grupo.

Em outro momento do desenvolvimento, poderia ser feito:
* Gravar a situação do grupo (aberto ou fec

[2020-04-01 16:29] juliemar commented on #277
# Possible solution
We have to change these files to use `ENVIRONMENT` variable that define jitsi URI:

https://github.com/ResultadosDigitais/matrix/blob/master/frontend/src/morpheus/containers/RoomPage.js#L64

https://github.com/ResultadosDigitais/matrix/blob/master/backend/app/views/morpheus.ejs#L24

# how to test
We can run jitsi locally with Docker. https://github.com/jitsi/docker-jitsi-meet

[2020-04-03 17:36] alesshh commented on #208
Pessoal p/ quem quiser discutir sobre roadmap, ideias de maneira mais ativa, criamos um slack https://github.com/ResultadosDigitais/matrix#get-in-touch.

Retomando a ideia dessa issue, penso que o trabalho maior é apresentação no frontend. Skills de ux não são minha praia, mas o @WesleyRocha pode nos ajudar aqui.

Do ponto de vista do backend, acho que podemos criar uma proposta p/ modelo de dados

[2020-04-04 19:02] alesshh commented on #106
it does not occurres anymore

[2020-04-04 19:02] #106 closed

[2020-04-04 19:03] alesshh commented on #187
Fixed

[2020-04-04 19:03] #187 closed

[2020-04-06 17:00] fabioharry opened #297 "Error when using custom ROOMs (docker compose env)"
## Description
When I start the app in standard mode everything works perfectly, however when trying to use custom ROOMs an error occurs.

It appears that the app is not recognizing the environment variables.

After a lot of struggle I noticed that the problem was in the way the array of objects is written in the variable ROOMS_DATA this must be written on the same line.

It would be interesting t

[2020-04-07 02:10] juliemar commented on #269
@Verhaeg I just created a PR with an option to have an external file to configure the `ROOMS_DATA` in this case is possible to store in *s3* or *GCS*

[2020-04-07 13:52] Leonardoperrella commented on #297
A suggestion, if is possible, could be to read the rooms directly from a separate JSON file. That way it is easier to configure and view.

[2020-04-07 14:06] juliemar commented on #297
Hi @Leonardoperrella I created this PR [add a remote room file option #299](https://github.com/ResultadosDigitais/matrix/pull/299) What do you think about this solution?

[2020-04-07 15:57] Leonardoperrella commented on #297
Very good!!

[2020-04-08 03:59] talesmgodois commented on #42
Que tal uma configuração para habilitar ou não salas privadas e ocultas? Acho que salas privadas podem pedir senha pra entrar

[2020-04-08 17:56] Jarzamendia commented on #42
Fiz uns testes aqui e percebi que é simples fazer com que "por padrão" as salas sejam criadas com uma senha. Teoricamente isso poderia ser aplicado para mitigar o fato das salas do meet.jit.si serem publicas por padrão.

Claro, o simples é adicionar a senha na sala, talvez seja necessário discutir como configurar isso e se realmente isso está na visão do que o Matrix se propõe a ser.

[2020-04-09 12:40] danilorsilva opened #305 "404 Not Found - You can create new conversation here"
Bom dia pessoal

     Fiz a instalação do matrix dentro de um cluster kubernetes e a principio tudo esta "running".

     Ao acessar a URL do matrix eu me autentico normalmente porém na página seguinte eu recebo o seguinte erroo: 404 Not Found - You can create new conversation here

     As variáveis foram configuradas corretamente:

        - name: ROOMS_SOURCE
          value: ENVIRONMENT

[2020-04-09 12:56] dherik opened #306 "Add a description for the room"
## Description
Hi!

I would like to suggest an optional new field for each room: `description`.

If you have many rooms, sometimes the people are confused about where is the "correct" room to start a meeting. If you have some description to guide them will be great.

The description could be showed on two ways:

1. When you hover the mouse on the room on the rooms page
2. When you enter the meetin

[2020-04-09 13:16] danilorsilva commented on #305
DNS problem, the issue has been solved.

[2020-04-09 13:57] #305 closed

[2020-04-09 14:14] danilorsilva opened #307 "User icon appears in all rooms at same time"
## Description
I have installed matrix on kubernetes.

When i access the Matrix url i can authenticate successfully and access my matrix web interface.

My problem is that my user appears on all rooms.

### Expected Behavior
My user icon appears only in the room that i enter.

### Current Behavior
My user icon appears in all rooms not in only one.

Thanks!

[2020-04-09 15:10] danilorsilva commented on #307
The ${UUID} is not working, so, all the rooms have the same name.

I set manually all UUIDs and it works.

[2020-04-09 20:40] diramos1 commented on #229
I saw it was merged on PR #303. Does anybody have documented how to use passport.js to auth in matrix?

[2020-04-10 00:45] angeliski commented on #307
Hey @danilorsilva Thanks for your report! The ${UUID} is just an example, but maybe the documentation is not clear about that. We will try to fix that.

[2020-04-15 11:30] LeandroPessoa commented on #39
We have this solution: https://github.com/jiahaog/nativefier

It turns any web page into a app for any platforms (Mac, Windows, Linux) using Electron in a easy way! Just one command line!

[2020-04-16 22:51] #307 closed

[2020-04-17 14:21] joseantonnio opened #312 "Play sound while invite dialog is shown"
When I'm with #matrix tab running in background, my coworkers always need to send me a Slack message with "hey! we're inviting you to a meeting inside the #matrix".

Almost every invite notification that I receive goes unnoticed. So it would be very good have an incoming call sound playing while invite dialog is shown (Skype or Slack like).

## Description

Play a ringtone sound (something like [t

[2020-04-21 21:23] juliemar commented on #312
Hi @joseantonnio this is a good idea. I'm looking some kind of sound that represents the #matrix movie. Do you have some suggestions?

[2020-04-21 21:25] juliemar commented on #306
Hi @dherik this field is so usual. could you open a PR with this suggestion?

[2020-04-22 16:42] joseantonnio commented on #312
On the first movie, Neil receives a Nokia get instructions from Morpheus when he is at work. It's not the Nokia default ringtone that plays but a generic one. Think would be a very nice choice.

Here's the scene: https://www.youtube.com/watch?v=Lweuy1X9Tcg

[2020-04-22 16:43] joseantonnio commented on #312
On the first movie, Neo receives a Nokia to get instructions from Morpheus when he is at work. It's not the Nokia default ringtone that plays but a generic one. Think would be a very nice choice.

Here's the scene: https://www.youtube.com/watch?v=Lweuy1X9Tcg

[2020-04-22 16:50] joseantonnio commented on #312
After googled "nokia matrix ringtone" I found this: https://www.zedge.net/ringtone/de0436b6-69d9-32fe-b5af-8ffefd6b7645 :smiley:

[2020-04-22 18:00] #224 closed

[2020-04-25 17:41] NFavareto opened #317 "Acessible Components in React"
## Description
The project has a acessible components in React?
I think this is really important for a any project to have.

[2020-04-30 12:24] juliemar commented on #317
I'm Sorry @NFavareto I didn't understand your question. Could you send more details?

[2020-05-13 11:14] igortg commented on #231
Same issue here. Deployed on-premise using Docker

[2020-05-14 19:13] digaofs opened #327 "Google meets as an internal conference option"
### Feature Description

It would be nice to have the option of using google meets instead of Jitsi, on internal meetings. I know that google meets doesn't provide an API for that, but the idea here is to just render google meets full screen inside a room (instead of opening in a new window), using an iframe or something, pointing to a previously created room in Meet (with an id). That would be go

[2020-05-15 14:45] joseantonnio commented on #327
Hello @digaofs! Jitsi was a big problem here too. But you can use it as a meeting service!

You just need to go to https://meet.google.com and click on "Join or start a meeting". After that, add a really complex and unique name to you room. You need to do this for each room that you have on your #matrix. Save each URL, you'll need it!

Now go to your `variables.env` file and add to each URL to the

[2020-05-15 16:43] digaofs commented on #327
I received a reply in my e-mail, but it is not shown here. Anyway, I'll answer based on the reply by e-mail:

First of all, thanks for answering, @joseantonnio!
We're already using google meets with the "externalMeetUrl" parameter on Matrix.

My point here is to use google meets using the "internalMeet" layout, also with the option to get people to the room (function available when using internal

[2020-05-24 02:18] phiter commented on #124
Hi @amandarover there is a feature where when an user joins a room, a notification pops up both within matrix window and browser notification.

In order to maintain a consistent behavior, do you think a notification saying the user has left the room is a viable option? This is louder than a small sound but keeps the consistency.

[2020-05-24 04:04] phiter commented on #327
Jitsi is easy to integrate within an iframe because it's built to do that. It also has a js api that can be listened to which makes things easier to work with.

For Google Meet for example the main issue I can think of is exiting a call. The end call button just shows an option to leave the room or return to it. So the "exit room" option should be used instead.

There could be cross domain or x-fr

[2020-05-26 20:00] phiter opened #332 "Persist desktop notifications on/off preference"
### Feature Description

The application should persist desktop notifications on/off preference

### Problem

In the app bar, there is a button which enables/disables desktop notifications. This preference is not being persisted and if you refresh the page it turns on again.

### Expected behaviour

The desktop notification preference should be persisted across page refreshes/different tabs.

###

[2020-05-31 14:15] maykonlopes41 commented on #270
Hi, I had a similar problem to custom values inside variable.env, in my case I just needed to remove white spaces to variable ROOM_DATA.

[2020-06-10 21:27] phiter opened #334 "Add room groups"
### Feature Description

Add a feature enabling the admin to group rooms and separate them visually.

### Problem

If you have too many rooms, matrix will end up having many unorganized rooms in the office page, and this can get too crowded very fast. So grouping these rooms could be a great feature since it can help organize the office.

### Solution

In order to add this feature and not mess wit

[2020-06-23 19:52] Jarzamendia opened #337 "Add an image in the Room's headers."
### Feature Description

Change the design of the Room's card to add an image header and permit their customization.

### Aditional context

Will be nice to have cool image headers in our rooms! Think in the possibilities! We can use the departments logos or cool geek alternatives!

[2020-06-26 16:59] phiter opened #338 "Entering an external meeting without leaving the previous one makes you leave both when one is closed."
### Subject of the issue

When entering an external meeting, the app opens a new tab and tracks its open/closed state. If you enter another external meeting without closing the first meeting, you'll move to another room and get the pink headphone thing, but then if you leave the first meeting, you lose the headphone.

### Steps to reproduce

1. Join a room with an external meeting
2. Join another

[2020-07-02 12:34] phiter commented on #312
@joseantonnio did you try my solution? It has been merged to develop branch.

If it works I think this issue can be closed :D

[2020-07-17 17:27] phiter opened #341 "Add a language switch"
### Feature Description

Add internationalization to the project and allow the user to switch between different languages (maybe a dropdown in the appbar).

### Problem

Matrix is growing in usage, specially now with lots of people working from home, and some of these people might not know english, so it would be great if they could use the application in a language they are familiar with.

### Pr

[2020-07-20 21:52] phiter opened #343 "User and room search should ignore accents."
### Subject of the issue

When searching for a User in the sidebar, or a Room in the appbar, the search won't bring users if you don't include accents in the name.

### Steps to reproduce

1. Have a user or room with an accent somewhere in the name (eg: José/Café)
2. Search for their name without including an accent (jose)

Example:

![matrix](https://user-images.githubusercontent.com/12252332/880

[2020-08-20 14:25] joseantonnio commented on #312
@phiter works like a charm :+1:

Thank you! And I'm sorry for the late answer...

[2020-08-20 14:25] #312 closed

[2020-09-03 02:40] #306 closed

[2020-09-03 02:40] #222 closed

[2020-09-03 02:40] #338 closed

[2020-09-03 02:40] #343 closed

[2020-10-01 16:52] silvanavlima opened #352 "Rename ExpansionPanel"
### Cleanup

**What should be cleaned up or changed**:
The ExpansionPanel component was renamed to Accordion and
the change generated errors at the console.

**Provide any links for context**:
[https://ibb.co/zXkxpPQ](https://ibb.co/zXkxpPQ)

that's my suggestion [PR](https://github.com/ResultadosDigitais/matrix/pull/351)

[2020-10-01 17:06] silvanavlima opened #354 "Magic number"
### Cleanup

**What should be cleaned up or changed**:
To avoid problems with "number magic" in the future
My suggestion is to change comments by a variable. It is easier to read and understand.

**Provide any links for context**:
[Code](https://ibb.co/XLSrKzR)

That's my [suggestion ](https://github.com/ResultadosDigitais/matrix/pull/353)

[2020-10-01 19:23] juliemar commented on #352
Hi @silvanavlima good suggestion. Feel free to open a PR to us with :)

[2020-10-01 22:18] silvanavlima opened #356 "Less colors saturated"
### Subject of the issue
The colors primary and secondary of the dark/light theme are equals. In mode dark, these colors more become saturated colors and vibrant. Check [here.](https://ibb.co/9YF96JZ)

### Possible Solution
Change colors primary and secondary for less colors saturated.

My suggestion [ PR](https://github.com/ResultadosDigitais/matrix/pull/355)

[2020-10-01 22:36] silvanavlima opened #358 "The logo of the matrix was without the alt attribute."
### Subject of the issue

The logo of the matrix was without the attribute alt.

### Steps to reproduce

Inspect logo.

### Possible Solution

It is an important attribute used specifies an alternate text for an image that cannot be displayed.
The project has the option switch language, so I took advantage of the opportunity to add the option at alt in English/Portuguese.
[My suggestion here.](htt

[2020-10-06 01:26] juliemar commented on #358
fixed by https://github.com/ResultadosDigitais/matrix/pull/357

[2020-10-06 01:26] #358 closed

[2020-10-06 01:31] juliemar commented on #356
fix: https://github.com/ResultadosDigitais/matrix/pull/355

[2020-10-06 01:31] #356 closed

[2020-10-06 01:32] juliemar commented on #352
fixed by https://github.com/ResultadosDigitais/matrix/pull/351

[2020-10-06 01:32] #352 closed

[2020-10-06 01:32] juliemar commented on #354
fixed by: https://github.com/ResultadosDigitais/matrix/pull/353

[2020-10-06 01:32] #354 closed

[2020-10-06 01:34] juliemar commented on #341
Hi @phiter could you open a PR with the internationalization inside rooms?

[2020-10-06 13:09] phiter commented on #341
Hey @juliemar I took some time off open source for now in order to better focus on my new job. I'll come back later but you guys can work out on the branch that I made that already contains everything.

[2020-11-03 18:29] lordandreww commented on #208
this idea was developed? what is the progress?

[2020-11-05 17:32] joseantonnio opened #364 "Trophy Room"
### Feature Description

Here at my company some folks have sent a suggestion to create a trophy room. It's a normal room, but it'll not have "ENTER ROOM" and "ENTER MEETING" buttons. And in the rooms data JSON we could be able to specify an image and title to trophies.

Take a look at these examples:

<img src="https://i.postimg.cc/7f2hRqWq/exemplo2.png" />

<img src="https://i.postimg.cc/jDY20Bp

[2020-12-02 13:31] arielesp opened #365 "not starting"
### Subject of the issue

First trying to use and up project.... docker-compose up return several errors and not able to start

### Steps to reproduce

Just clone git, change credentials on variables.env and run command

### Expected behaviour

I believe... start docker project

### Actual behaviour
Creating network "matrix_default" with the default driver
ERROR: Failed to Setup IP tables: Unable

[2020-12-02 17:41] arielesp commented on #365
solved, restarting docker

[2020-12-02 17:41] #365 closed

[2021-03-04 18:28] nataliavaz opened #368 "Whitelist domain doesn't work"
### Subject of the issue

Whitelist domain doesn't work

### Steps to reproduce

Try to login with a domain that is not whitelisted.

### Expected behaviour

Login should work just with the whitelisted domains

### Actual behaviour

I can loggin on Matrix with any domain

[2021-03-23 14:49] htrgouvea opened #369 "SECURITY.md"
Hi Folks,

I believe it is interesting to create a new document called SECURITY.md, where it can communicate to users how security problems are handled by the Matrix development team.

A first and great step would be to provide a contact email to receive vulnerability reports, after all, Github Issues Pages are not the ideal place to deal with this type of extremely sensitive issue!

Thx!

[2021-04-04 21:24] ezlage opened #371 "Language switch problem (Problema na troca de idioma)"
### Subject of the issue

I created a laboratory to test the Matrix, but when I use the language switch to PT-BR, it has no effect. I tried to log out and login, but the problem persisted. The Google authentication screen is ok. I did not find related information in the documentation. Can I do anything to force the language to PT-BR?

Criei um laboratório para testar o Matrix, mas quando utilizo a

[2021-04-30 16:10] ezlage commented on #368
This exact problem is happening with me too!

[2021-04-30 18:43] juliemar commented on #368
Hi, could you share your whitelisted configuration?

[2021-04-30 19:49] ezlage commented on #368
Sure! Thank you!

This is my configuration:

WHITELIST_DOMAINS=["lageteck.com.br","lageteck.com"]

Despite this, I can login with @gmail.com accounts. My OAuth2 configuration follows the settings above.

[2021-04-30 19:56] nataliavaz commented on #368
My config is the same as yours.

[2021-04-30 20:46] samuelrcarvalho commented on #368
Try to regenerate Sign-In client-id, and restart application.
I had this problem a while ago.
In that time, I thought that google changed the authentication method. After I regenerate, it worked perfectly.

[2021-05-02 23:36] ezlage commented on #368
Thanks for your help, @samuelrcarvalho!

Unfortunately, I tried the procedure and it was still possible to connect with an account I shouldn't be able to.

[2021-05-04 14:37] phiter commented on #371
Not every string has been translated yet. I had everything translated on #342 but it needs to be split into multiple PRs. If someone wants to do that, it would be great.

[2021-05-04 15:06] ezlage commented on #371
Hello, phiter!

I will take a look. If I realized that I'm able to, I will try to split into multiple PRs.

Thank you!

[2021-05-09 05:44] ezlage commented on #371
Following Phiter suggestion, I could solve the problem just bringing another branch to production.

[code]

[2021-05-09 05:44] #371 closed

[2021-05-12 13:16] renatocmaia commented on #368
This same problem is happening to me too.

[2021-05-16 02:26] ezlage commented on #368
Unfortunately my happiness did not last. Taking more careful tests, I came to the conclusion that the problem persists. I'm working around the problem with this:

[code]

[2021-05-21 14:28] renatocmaia commented on #368
Hello guys, I think the problem is here:
Actual code:
File: backend/app/services/auth/index.js
line 9 and 11

[code]

This var **isAuthorized** is replacing the second var.

Should be:

[code]

After test this code work for me.

[2021-06-01 12:07] hurrycaner commented on #227
A função de convidar alguém foi removida, certo?

[2021-07-02 22:58] ezlage opened #382 "Someone with bad intentions managing to change room names"
### Subject of the issue

Room names being changed by a malicious person with the purpose of offending company members

### Steps to reproduce

Some users, when opening or reopening Matrix, see room names different from the ones that were actually configured

### Expected behavior

Users should see rooms with the names configured on the server

### Actual behaviour

Some users see rooms with names

[2021-08-05 15:50] #382 closed

[2022-01-19 21:46] jcohta opened #390 "Microfone and video doesn't work"
### MIC and video doesn't work

I've already installed matrix but when start a conference I can't activate sound and video.

[2022-01-24 17:07] jcohta commented on #390
resolved! It was only redirect error port in google API.

[2022-01-24 17:07] #390 closed

[2022-02-02 13:23] git-gmvb opened #391 "missing script: start-backend"
### Problem
i can't run the application with docker compose because off a missing script: start-backend messege, can anyone help me please?

### Steps to reproduce

![image](https://user-images.githubusercontent.com/61241061/152162052-a02fba20-4a78-4604-ac79-9e1888b9035b.png)
![image](https://user-images.githubusercontent.com/61241061/152162113-e67eaea8-07a2-4d5c-83c5-35e9e065c154.png)

[2022-03-03 03:02] abhijain2003 commented on #369
i want to do this can you explain to me how do you actually handle problems